/* waybar style.css */
@define-color dark_gray #221717;
@define-color gray #704144;
@define-color orange #eb842b;
@define-color pink #c79295;
@define-color red #d2505f;
@define-color white #dbcccf;

/* Reset all styles */
* {
	border-radius: 0;
	border: none;
	font-family: monospace;
	font-size: 16px;
	margin: 0;
	min-height: 32px;
	padding: 0;
}

#waybar,
#workspaces button {
	color: @white;
}

#workspaces button {
	margin: 0 5px;
}

#workspaces button:hover {
	background: @hover;
	box-shadow: inherit;
	text-shadow: inherit;
	transition: none;
}

#waybar {
	background: @dark_gray;
	margin: 24;
}

.topbar {
	border-bottom: 1px solid @red;
}

.bottombar {
	border-top: 1px solid @red;
}

#backlight,
#battery,
#cpu,
#custom-calendar,
#custom-flatpak,
#custom-scratchpad_indicator,
#custom-xbps,
#language,
#memory,
#network,
#pulseaudio,
#tray,
#window,
#workspaces button.focused,
#workspaces button:hover {
	color: @pink;
}

#backlight,
#battery,
#clock,
#cpu,
#custom-calendar,
#custom-flatpak,
#custom-scratchpad_indicator,
#custom-xbps,
#keyboard-state,
#language,
#memory,
#network,
#pulseaudio,
#tray,
#window,
#workspaces button {
	background: transparent;
}

#backlight,
#battery,
#clock,
#cpu,
#custom-calendar,
#custom-flatpak,
#custom-xbps,
#memory,
#network,
#pulseaudio,
#tray {
	padding-left: 8px;
	padding-right: 8px;
}

#idle_inhibitor,
#custom-powermenu {
	background: @red;
	font-size: 24px;
}

#idle_inhibitor {
	padding-left: 15px;
	padding-right: 15px;
}

#custom-powermenu {
	padding-left: 20px;
	padding-right: 20px;
}

#custom-scratchpad_indicator,
#window {
	padding-left: 10px;
}

#language {
	padding-right: 10px;
}

#cpu.critical,
#keyboard-state,
#memory.critical,
#network.disconnected,
#workspaces button.urgent {
	color: @orange;
}

@keyframes blink1 {
	to {
		color: @orange;
	}
}

@keyframes blink2 {
	to {
		background-color: @orange;
	}
}


@keyframes blink3 {
	to {
		background-color: @red;
	}
}

#battery.critical:not(.charging),
#battery.plugged,
#battery.warning:not(.charging) {
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

#battery.critical:not(.charging),
#battery.warning:not(.charging) {
	animation-timing-function: ease-in-out;
}

#battery.critical:not(.charging) {
	animation-duration: 0.8s;
	animation-name: blink3;
}

#battery.plugged {
	animation-duration: 0.5s;
	animation-name: blink1;
	animation-timing-function: linear;
}

#battery.warning:not(.charging) {
	animation-duration: 0.7s;
	animation-name: blink2;
}