* {
    color:               #bdc3c7;
    border:              none;
    border-radius:       0;
    font-family:         "Iosevka Nerd Font";
    font-size:           14px;
    transition-duration: 0s;
}

window#waybar {
    background: transparent;
    color: #bdc3c7;
}

#workspaces {
    margin: 0 5px;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #bdc3c7;
    border-top: 2px solid transparent;
}

#workspaces button.focused {
    color: #953029;
    border-top: 2px solid #953029;
}

#tray, #mode, #battery, #cpu, #memory, #network, #pulseaudio, #custom-playerctl, #clock {
    padding:    0 6px;
    margin:     0 6px;
}

#clock {
    font-weight: bold;
}

#battery icon {
    color: #517f56;
}

#battery.warning {
   color:       #d6710c;
   }

#battery.critical {
    color:      #953029;
}

#battery.charging {
    color:      #26b6b8;
}
