/* waybar style.css */
@define-color bgcolor #2b2b2b;     /* background color */
@define-color fgcolor #bdc3c7;     /* foreground color */
@define-color charging #5b885a;    /* battery charging color */
@define-color plugged #4c664c;     /* ac plugged color */
@define-color critical #953029;    /* critical color */
@define-color warning #d6710c;     /* warning color */
@define-color hover #71352f;       /* mouse hover over workspace color */
@define-color workbgcolor #953029; /* focused workspace background color */
@define-color workfgcolor #202122; /* focused workspace foreground color */

/* Reset all styles */
* {
	border: none;
	border-radius: 0;
	font-family: monospace;
	font-size: 18px;
	margin: 0;
	padding: 0;
}

#waybar {
	background: transparent;
	color: @fgcolor;
}

#workspaces button {
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	margin: 0 2px;
	background: @bgcolor;
	color: @fgcolor;
}

#workspaces button.focused {
	background: @workbgcolor;
	color: @workfgcolor;
}

#workspaces button:hover {
	background: @hover;
	color: @workfgcolor;
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
}

#language,
#custom-scratchpad_indicator {
	padding-left: 10px;
	padding-right: 10px;
  border-radius: 10px;
  margin: 0 2px;
  background: @fgcolor;
	color: @bgcolor;
}

#custom-cap-left, #custom-cap-right {
	color: @bgcolor;
	font-size: 24px;
}

#cpu,
#memory,
#battery,
#clock,
#tray,
#backlight,
#mode,
#pulseaudio,
#network,
#idle_inhibitor,
#custom-xbps,
#custom-weather,
#custom-media,
#custom-dunst,
#custom-clipboard {
	background: @bgcolor;
	padding-left: 10px;
	padding-right: 10px;
}

#cpu.critical {
	color: @critical;
}

#memory.critical {
	color: @critical;
}

@keyframes blink1 {
	to {
		color: @plugged;
	}
}

#battery.plugged {
background-color: @bgcolor;
  animation-name: blink1;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink2 {
	to {
		background-color: @charging;
	}
}

#battery.charging {
  animation-name: blink2;
  animation-duration: 2.0s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink3 {
	to {
		background-color: @warning;
	}
}

#battery.warning:not(.charging) {
  animation-name: blink3;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink4 {
	to {
		background-color: @critical;
	}
}

#battery.critical:not(.charging) {
  animation-name: blink4;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

