/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #2C1617FF;
    background-alt: #704144FF;
    foreground:     #CEBABFFF;
    selected:       #E97E8AFF;
    active:         #622B30FF;
    urgent:         #EB842BFF;
}
