/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #221717FF;
    background-alt: #622B30FF;
    foreground:     #CEBABFFF;
    selected:       #D2505FFF;
    active:         #65ABA3FF;
    urgent:         #EB842BFF;
}
