* {
	background-image: none;
}
window {
	background-color: rgba(12, 12, 12, 0.9);
}
button {
  color: #D3D8DC;
	background-color: #232323;
	border-style: solid;
	border-width: 2px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50%;
}

button:focus, button:active, button:hover {
	background-color: #8E2E27;
	outline-style: none;
}

#logout {
    background-image: image(url("/home/sirkhancision/.config/wlogout/icons/logout.png"));
}

#shutdown {
    background-image: image(url("/home/sirkhancision/.config/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/home/sirkhancision/.config/wlogout/icons/reboot.png"));
}

#firmware {
    background-image: image(url("/home/sirkhancision/.config/wlogout/icons/firmware.png"));
}